
.SideNav-flex-column  {
    display:flex;
    justify-content: center;
    margin: auto;
    margin-top:5vw;
}

.SideNav-Edit {
    margin:15px auto;

}
.SideNav-AuditLogger {
    margin: 15px auto;
}