
.NavBar{
    // padding-bottom: 100px;
    
    .dropnav{
        margin: auto 15px;  
        width: 130px;
        height: 48px;
        
    }
    a, button{
        color:green;
        font-size:18px;
        font-weight: 600; 
    }

    
}