.HowWeWork-container{

    .Main-Title{
        margin-bottom:50px;
    }

    .title{
        font-weight: 400;
        letter-spacing: 4px;
    }

    .description{
        word-wrap: break-word;
        margin-top:60px;
    }

    .title,
    .description{
        margin-top:20px;
    }

    .row{
        margin:0 auto;
    }
    .col-md-4{
        width:100%;
    }

  
   
    .rounded-circle{
        height: 170px;
    }
}