* {
    box-sizing: border-box;
  }


  
  .bg-img {
    width: 100vw;
    min-height: 450px;

   
    /* The image used */
    background-image: url("http://localhost:3000/h.jpg");
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    /* Control the height of the image */
    /* min-height: 650px;
    min-width: 100%; */

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .containerhero {
    position: absolute;
    right: 0;
    top:15%;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  /* .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  /*  */
  /* .btn:hover {
    opacity: 1;
  }  */
  