.SignUp-container {
  //   background-color: rgb(143, 217, 241);
  background-image: url();
  padding-top: 1px;
  width: 100vw;
  height: 100vh;

  .container {
    max-width: 100%;
  }

  .img-fluid {
    width: 350px;
  }
}
