.ViewOrders-CardBody {
    display: flex;
    justify-content:  space-between;
    
}

.ViewOrders-CardButton {
    display: flex;
    justify-content: center;
    position: relative;
   top:12px;
}

.ViewOrders-Scrollbar {
    height: 32em;
    overflow-y: auto;
    white-space: nowrap;


}

.ViewOrders-Card {
    background-color: rgb(135, 206, 235,0.7);
    margin:25px;
}
.ViewOrders-Card:hover {
    background-color: rgb(18, 172, 199);
}

.ViewOrders-StatusNav {
    display:flex;
    justify-content:  center;
}





/* .viewOrders-mapping {
    display: flex !important; 
    flex-direction: row !important;
    justify-content: space-between;
    padding:15px !important;
}


.ViewOrders-Card {
    background-color: rgb(15, 168, 228);;
    width:600px;
    height:100px;
    text-decoration: underline;
    padding:10px;
    margin-left: 15px;
  

    
}
.viewOrders-card-previous {
    background-color: rgb(15, 168, 228, 0.5);
    width:600px;
    height:100px;
    text-decoration: underline;
    padding:10px;
    
}

.viewOrders-header {
    color:black;
    text-align: center;
    padding:10px;
}
.viewOrders {
    background-color: rgb(145, 131, 131);
    width: 650px;
    height: 600px;
    margin-left: 15px;
}

.viewOrders-Button {
    position: relative;
   margin-left: 150px;
    opacity:0.7;
   
} */

