$MainPage: #272727;

.CMS-Container {
  background-color: black;
  max-width: 100vw;
  display: flex;


  .SideNav {
    background-color: rgb(3, 216, 216);
    width: 20%;
    display:flex;
    justify-content: space-around;
    
  };

  

  .MainPage-container{
    width: 100%;
    margin:10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .box{
      background-color: #FFFFFF;
      width:550px;
      margin-top:20px
  }
}
