$MainPage: #272727;

.CMS-Container {
  max-width: 100vw;
  display: flex;


  .SideNav {
    background-color: red;
    width: 20%;

  }

  

  .MainPage-container{
    width: 100%;
    margin:10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .box{
      background-color: green;
      min-width:550px;
      min-height: 550px;
      max-width:550px;
      max-height: 550px;
      margin-top:20px
  }
}
