$MainPage: #272727;

.CMS-Container {
  background-color: black;
  width: 100%;
  display: flex;


  .SideNav {
    background-color: rgb(3, 216, 216);
    display:flex;
    justify-content: space-around;
    width: 18%;
    
  };

  

  .MainPage-container{
    width: 100%;
    margin:10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .box{
      background-color: rgb(18, 194, 141);
      width:550px;
      margin-top:20px
  }
}
