.jumbotron {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#92e068+0,13c0d7+100 */
  background-image: linear-gradient(
    to top,
    rgb(26, 146, 161),
    rgb(73, 201, 218)
  );
}

.service-slide {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.service-item {
  width: 100vw;
  height: 320px;
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}


.Services-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  

  .col-md-4 {
    padding: 60px;
    margin: 0;
  }

  .rounded-circle {
    border: 5px solid #006a16;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin:0 auto;
  }

  .Cloth-details {
    margin-top: 20px;
  }

  p {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: black;
  }
}
